@tailwind base;
@tailwind components;
@tailwind utilities;
.shimmer {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb; /* tailwind gray-300 */
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: translateX(-100%);
  animation: shimmerAnim 1.5s infinite;
}

@keyframes shimmerAnim {
  100% {
    transform: translateX(100%);
  }
}
